<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="AndroidBaseApp.AndroidBaseApp">
	<uses-sdk />
	<application android:label="AndroidBaseApp">
		<activity android:name="android.app.NativeActivity" android:label="@string/app_name" android:configChanges="orientation|keyboardHidden|screenSize|screenLayout" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<meta-data android:name="android.app.lib_name" android:value="OSHelper" />
		</activity>
	</application>
</manifest>