<?xml version="1.0" encoding="utf-8" ?>
<!-- This is needed when the libraries are all meant to link statically, like on iOS. 
Add it to the target project as content and you can continue to use the normal .dlls, they will be
fixed at runtime. -->
<configuration>
  <dllmap dll="MyGUIWrapper" target="__Internal" />
</configuration>